<div class="header-row">
	<input type="text" class="borderless character-name" name="name" value="{{actor.name}}" title="Character Name" placeholder="Nickname" {{#if data.locked}} disabled {{/if}}>
</div>
<div class="header-row">

	<label  class="borderless personal-info">AGE: </label>
	<input type="text" class="borderless age" name="data.age" value="{{actor.data.data.age}}" title="Age" {{#if data.locked}} disabled {{/if}}>
	<label  class="borderless personal-info">HEIGHT(CM): </label>
	<input type="text" class="borderless age" name="data.height" value="{{actor.data.data.height}}"  title="Height" {{#if data.locked}} disabled {{/if}}>
	<label  class="borderless personal-info">WEIGHT(KG): </label>
	<input type="text" class="borderless age" name="data.weight" value="{{actor.data.data.weight}}"  title="Weight" {{#if data.locked}} disabled {{/if}}>
</div>
<div class="header-row">
	<label  class="borderless personal-info">Full name: </label>
	<input type="text" class="borderless short-description" name="data.short_description" value="{{actor.data.data.short_description}}" placeholder="Full Name" title="Short Description" {{#if data.locked}} disabled {{/if}}>
</div>

